---
import Head from '@/components/head.astro'
import Nav from '@/components/nav.astro'
import Hero from '@/components/hero.astro'
import About from '@/components/about.astro'
import Projects from '@/components/projects.astro'
import Contact from '@/components/contact.astro'
import Footer from '@/components/footer.astro'
---

<html lang='en' class='scroll-smooth'>
  <head>
    <Head />
  </head>
  <body>
    <Nav />
    <main class='container'>
      <Hero />
      <About />
      <Projects />
      <Contact />
    </main>
    <Footer />
  </body>
</html>
