---
import { contact, fullName } from '@/data.json'
---

<section id='contact' class='min-h-[600px]'>
  <h2 class='mb-6 text-center text-4xl'>CONTACT ME</h2>
  <div class='grid grid-cols-1 gap-4 md:grid-cols-12'>
    <div
      class='col-span-12 mb-4 grid content-start md:col-span-4'
      data-aos='fade-right'
      data-aos-duration='1000'>
      <h3 class='text-3xl'>Ready to Innovate?</h3>
      <p class='text-lg'>Let's Bring Your Vision to Life!</p>

      <div class='more_info mt-5'>
        <dl class='mt-8'>
          <div class='mb-3 flex gap-2'>
            <dt>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                fill='none'
                stroke='currentColor'
                stroke-width='2'
                stroke-linecap='round'
                stroke-linejoin='round'
                class='size-6'
                ><rect width='20' height='16' x='2' y='4' rx='2'></rect><path
                  d='m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7'></path></svg
              >
            </dt>
            <dd>{contact.email}</dd>
          </div>
          <div class='flex gap-2'>
            <dt>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                fill='none'
                stroke='currentColor'
                stroke-width='2'
                stroke-linecap='round'
                stroke-linejoin='round'
                class='size-6'
                ><path d='M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z'
                ></path><circle cx='12' cy='10' r='3'></circle></svg
              >
            </dt>
            <dd>{contact.location}</dd>
          </div>
        </dl>
      </div>
    </div>

    <div class='col-span-12 md:col-span-8'>
      <form id='contact-form'>
        {/* Name */}
        <div class='mb-6'>
          <label
            for='name'
            class='mb-2 block text-sm font-medium text-gray-900 dark:text-white'
            >Name</label
          >
          <input
            type='text'
            id='name'
            class='block w-full rounded-lg border border-gray-300 bg-gray-50 p-4 text-base text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500'
            placeholder={fullName.split(' ')[0]}
          />
        </div>

        {/* Email */}
        <div class='mb-6'>
          <label
            for='email'
            class='mb-2 block text-sm font-medium text-gray-900 dark:text-white'
            >Email</label
          >
          <input
            id='email'
            type='email'
            class='block w-full rounded-lg border border-gray-300 bg-gray-50 p-4 text-base text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500'
            placeholder={contact.email}
          />
        </div>

        {/* Message */}
        <div class='mb-4'>
          <label
            for='message'
            class='mb-2 block text-sm font-medium text-gray-900 dark:text-white'
            >Message</label
          >
          <textarea
            id='message'
            rows='8'
            class='block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500'
            placeholder='I would like to ...'></textarea>
        </div>

        <div
          style='display: none;'
          id='alert-container'
          class='mb-4 flex items-center rounded-lg border border-red-300 bg-red-50 p-4 text-sm text-red-800 dark:border-red-800 dark:bg-gray-800 dark:text-red-400'
          role='alert'>
          <svg
            class='me-3 inline h-4 w-4 flex-shrink-0'
            aria-hidden='true'
            xmlns='http://www.w3.org/2000/svg'
            fill='currentColor'
            viewBox='0 0 20 20'>
            <path
              d='M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z'
            ></path>
          </svg>
          <span class='sr-only'>Info</span>
          <div id='alert-body'></div>
        </div>

        <div
          id='success-alert'
          style='display: none;'
          class='mb-4 rounded-lg bg-green-50 p-4 text-sm text-green-800 dark:bg-gray-800 dark:text-green-400'
          role='alert'>
          Message sent successfully
        </div>

        <div>
          <button
            type='submit'
            class='rounded-lg bg-primary-700 px-5 py-3 text-center text-base font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800'
            >Send

            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              fill='none'
              stroke='currentColor'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'
              class='inline'
              ><path d='m22 2-7 20-4-9-9-4Z'></path><path d='M22 2 11 13'
              ></path></svg
            >
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

<script>
  import * as v from 'valibot'

  const $ = (s: string) => document.querySelector(s)

  const form = $('#contact-form') as HTMLFormElement
  const nameInput = $('#name') as HTMLInputElement
  const emailInput = $('#email') as HTMLInputElement
  const messageInput = $('#message') as HTMLTextAreaElement
  const alertContainer = $('#alert-container') as HTMLDivElement
  const alertBody = $('#alert-body') as HTMLDivElement
  const alertSuccess = $('#success-alert') as HTMLDivElement

  function getFormValues() {
    const name = nameInput!.value ?? ''
    const email = emailInput!.value ?? ''
    const message = messageInput!.value ?? ''

    return { name, email, message }
  }

  function validate() {
    const schema = v.object({
      name: v.pipe(v.string(), v.nonEmpty('Name is required')),
      email: v.pipe(v.string(), v.trim(), v.email('Invalid Email')),
      message: v.custom(
        input => typeof input === 'string' && input.split(' ').length > 5,
        'Please write a bit more so I can understand you better!'
      ),
    })

    const { name, email, message } = getFormValues()

    const result = v.safeParse(schema, { name, email, message })

    if (!result.success) {
      alertContainer.style.display = 'flex'
      alertBody.textContent = result.issues[0].message
      return false
    }

    alertContainer.style.display = 'none'
    return true
  }

  form.addEventListener('submit', e => {
    e.preventDefault()
    const isValid = validate()

    if (isValid) {
      const data = {
        ...getFormValues(),
        access_key: import.meta.env.PUBLIC_WEB3_FORMS,
      }

      fetch('https://api.web3forms.com/submit', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json',
        },
        body: JSON.stringify(data),
      })
        .then(async response => {
          const res = await response.json()

          if (res.success) {
            alertContainer.style.display = 'none'
            alertSuccess.style.display = 'block'
          } else {
            alertContainer.style.display = 'flex'
            alertBody.textContent = "Somthing went wrong! message didn't sent."
          }
        })
        .catch(error => {
          console.log(error)
          alertContainer.style.display = 'flex'
          alertBody.textContent = "Somthing went wrong! message didn't sent."
        })
        .then(() => form.reset())
    }
  })

  form.reset()
</script>
