---
import { Image } from 'astro:assets'
import { fullName, rotatingWords } from '@/data.json'
import MyPicture from '@/assets/me.webp'

const words = [...rotatingWords, rotatingWords[0]]

const classMap = {
  1: 'text-red-600',
  2: 'text-blue-600',
  3: 'text-yellow-600',
  4: 'text-purple-600',
  5: 'text-orange-600',
}
---

<section id='home' class='min-h-screen bg-white dark:bg-gray-900'>
  <div
    class='mx-auto grid max-w-screen-xl px-4 py-8 lg:grid-cols-12 lg:gap-8 lg:py-16 xl:gap-0'>
    <div class='mr-auto place-self-center lg:col-span-6'>
      <h1
        class='mb-4 max-w-2xl text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white'>
        <span>I'm {fullName.split(' ')[0]} and I </span>
        <span>specialize in</span>
      </h1>
      <div class='mb-6 text-3xl font-extrabold [text-wrap:balance] md:text-6xl'>
        <span
          class='via inline-flex h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] flex-col overflow-hidden bg-gradient-to-r from-primary-800/90 via-primary-600 to-primary-500 bg-clip-text text-transparent md:h-[calc(theme(fontSize.6xl)*theme(lineHeight.tight))]'>
          <ul
            class='block animate-text-slide text-left leading-tight [&_li]:block'>
            {
              words.map((word, i) => (
                <li
                  {...(word === words.at(-1) && i > 0
                    ? { 'aria-hidden': 'true' }
                    : {})}>
                  {word}
                </li>
              ))
            }
          </ul>
        </span>
      </div>
      <a
        href='#contact'
        class='mr-3 inline-flex items-center justify-center rounded-lg bg-primary-700 px-5 py-3 text-center text-base font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900'>
        <span>Hire Me</span>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
          class='ml-1'
          ><path
            d='M4.5 16.5c-1.5 1.26-2 5-2 5s3.74-.5 5-2c.71-.84.7-2.13-.09-2.91a2.18 2.18 0 0 0-2.91-.09z'
          ></path><path
            d='m12 15-3-3a22 22 0 0 1 2-3.95A12.88 12.88 0 0 1 22 2c0 2.72-.78 7.5-6 11a22.35 22.35 0 0 1-4 2z'
          ></path><path d='M9 12H4s.55-3.03 2-4c1.62-1.08 5 0 5 0'></path><path
            d='M12 15v5s3.03-.55 4-2c1.08-1.62 0-5 0-5'></path></svg
        >
      </a>
      <a
        href='#projects'
        class='inline-flex items-center justify-center rounded-lg border border-gray-300 px-5 py-3 text-center text-base font-medium text-gray-900 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-800'>
        Projects
      </a>
    </div>
    <div class='relative hidden lg:col-span-6 lg:mt-0 lg:flex'>
      <div class='gradient-overlay'></div>
      <div class='mx-auto w-4/5'>
        <Image src={MyPicture} alt={`${fullName}`} loading='eager' />
      </div>
    </div>
  </div>
</section>

<style>
  .gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    );
  }
</style>
