---
import { fullName } from '@/data.json'

const sections = ['About', 'Projects', 'Contact']
---

<nav
  class='sticky top-0 z-50 bg-white/50 backdrop-blur dark:border-gray-600 dark:bg-gray-900'>
  <div
    class='mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4'>
    <a href='#home' class='flex items-center space-x-3 rtl:space-x-reverse'>
      <span class='flex gap-2 text-2xl font-semibold'>
        {
          fullName
            .split(' ')
            .map(word => (
              <span class='block first-letter:text-primary-500'>{word}</span>
            ))
        }
      </span>
    </a>
    <button
      data-collapse-toggle='mega-menu-full'
      type='button'
      class='inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 md:hidden dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600'
      aria-controls='mega-menu-full'
      aria-expanded='false'>
      <span class='sr-only'>Open menu</span>
      <svg
        class='h-5 w-5'
        aria-hidden='true'
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 17 14'>
        <path
          stroke='currentColor'
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M1 1h15M1 7h15M1 13h15'></path>
      </svg>
    </button>
    <div
      id='mega-menu-full'
      class='hidden w-full items-center justify-between font-medium md:order-1 md:flex md:w-auto'>
      <ul
        class='mt-4 flex flex-col rounded-lg border border-gray-200 bg-gray-50 p-4 md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-inherit md:p-0 rtl:space-x-reverse dark:border-gray-700 dark:bg-gray-800 md:dark:bg-gray-900'>
        {
          sections.map(s => (
            <li>
              <a
                href={`#${s.toLowerCase()}`}
                class='topg block rounded px-3 py-2 text-gray-900 hover:bg-gray-100 md:p-0 md:hover:bg-transparent md:hover:text-primary-700 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-primary-500 md:dark:hover:bg-transparent md:dark:hover:text-primary-500'>
                {s}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>

<script>
  const menuToggleButton = document.querySelector('[data-collapse-toggle]')
  const mobileMenu = document.getElementById(
    menuToggleButton?.getAttribute('data-collapse-toggle') || ''
  )

  function toggleMenu() {
    mobileMenu?.classList.toggle('hidden')
    const ariaExpanded =
      menuToggleButton?.getAttribute('aria-expanded') === 'true'
        ? 'false'
        : 'true'
    menuToggleButton?.setAttribute('aria-expanded', ariaExpanded)
  }

  if (menuToggleButton && mobileMenu) {
    // collapse menu when we click on menu-item when it's expanded
    document.querySelectorAll('.topg')?.forEach(menuItem =>
      menuItem.addEventListener('click', function () {
        if (window.matchMedia('(max-width: 768px)').matches) {
          toggleMenu()
        }
      })
    )

    menuToggleButton.addEventListener('click', () => {
      toggleMenu()
    })
  } else {
    console.error('Menu toggle button or mobile menu not found.')
  }
</script>
