---
import { projects } from '@/data.json'
---

<section class='container min-h-screen'>
  <h2 class='mb-6 text-center text-4xl'>PROJECTS</h2>
  <div class='grid grid-cols-1 place-items-center gap-y-8 md:grid-cols-2'>
    {
      projects.map(project => (
        <div class='card shadow-md'>
          <img src={project.imageSrc} alt='' />
          <div class='card__content'>
            <p class='card__title'>{project.altText}</p>
            <p class='card__description'>{project.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>

<style>
  .card {
    position: relative;
    width: 75%;
    /* height: 400px; */
    aspect-ratio: 1/1;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .card img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }

  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }

  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .card:hover .card__content {
    transform: rotateX(0deg);
  }

  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }

  .card:hover svg {
    scale: 0;
  }

  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
</style>
