header #header {
  background: var(--bs-primary);
  box-shadow: 0 3px 6px rgba(var(--bs-secondary-rgb), 0.2);
  color: var(--bs-secondary);
  font-family: 'Raleway', sans-serif;

  .navbar-brand {
    @include font-secondary;
    font-style: italic;
    color: inherit;
    max-width: 57%;
    @include media($bp-lg) {
      max-width: 37%;
    }

    & img {
      width: 100%;
      height: auto;
    }
  }

  #toggleMobileMenu {
    @include media($bp-lg) {
      max-width: fit-content;
    }
  }

  .nav-link {
    position: relative;
    width: fit-content;
    color: var(--bs-secondary);

    &::before {
      content: '';
      height: 2px;
      width: 0;
      background-color: var(--bs-accent);
      @include transition;
      border-radius: 50px;

      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover::before {
      width: 70%;
    }

    &.active {
      color: var(--bs-accent);
    }
  }
}
