#hero {
  // target the first row
  .container > .row {
    @include media($bp-lg) {
      height: min(95vh, 800px);
    }
  }

  section {
    h1 {
      @include font-secondary;
      font-size: 3.5rem;
      margin-bottom: 0.8rem;
      line-height: 1;
    }

    p {
      font-size: 1.5rem;
      @include font-primary;

      span {
        color: var(--bs-accent);
      }
    }

    .social-links {
      width: 50%;
      min-width: 200px;
      text-align: left;

      a {
        text-decoration: none;

        i {
          font-size: 2rem;
          @include transition();
          color: var(--bs-secondary);

          &:hover {
            color: var(--bs-accent);
          }
        }
      }
    }
  }

  .img-container {
    overflow: hidden;
    min-width: 16rem;
    width: 90%;
    aspect-ratio: 1;
    position: relative;
    @include mx-auto;
    max-width: 500px;
    margin-top: 3rem;
    @include media($bp-lg) {
      max-width: none;
      margin-top: 0;
    }
    #canvas {
      width: 100%;
      height: 100%;
    }

    canvas {
      width: 100%;
      height: 100%;
      border-radius: 39% 61% 71% 29% / 38% 29% 71% 62%;
    }

    .curtain {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .curtain img {
      display: none;
      // height: auto;
      // width: 100%;
      // border-radius: 39% 61% 71% 29% / 38% 29% 71% 62%;
    }

    // handle Curtains js error
    .no-curtains .curtain {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .no-curtains .curtain img {
      display: block;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
