#theme-btn {
  background-color: transparent;
  border: none;
  color: var(--bs-secondary);
  font-size: 1.3rem;

  i {
    filter: drop-shadow(0 3px 5px rgba(var(--bs-primary-rgb), 1));
  }

  .bi-brightness-high-fill {
    display: none;
  }
}
